APScheduler==3.6.3
# asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
# backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
# backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
cachetools==4.2.2
certifi==2021.5.30
chardet==3.0.4
# colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
# decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
# entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
# executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
google-api-core==2.7.2
google-api-python-client==2.47.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud==0.34.0
google-cloud-texttospeech==2.11.0
googleapis-common-protos==1.56.0
googletrans==4.0.0rc1
grpcio==1.44.0
grpcio-status==1.44.0
h11==0.9.0
h2==3.2.0
heroku==0.1.4
hstspreload==2021.12.1
httpcore==0.9.1
httplib2==0.20.4
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
inflect==5.5.2
# ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
# ipython @ file:///C:/ci/ipython_1593446240034/work
# ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi==0.17.0
jupyter-client==5.3.3
jupyter-core==4.5.0
# matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
# nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
nose==1.3.7
numpy==1.22.3
# packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.2
# parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
# pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
# prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1649130487073/work
proto-plus==1.20.3
protobuf==3.20.1
# pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1-modules==0.2.8
# Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1641580240686/work
# pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1649603503565/work
pyTelegramBotAPI==4.5.0
# python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-telegram-bot==13.11
pytz-deprecation-shim==0.1.0.post0
# pyzmq @ file:///C:/ci/pyzmq_1628276569449/work
Random-Word==1.0.7
requests==2.27.1
rfc3986==1.5.0
schedule==1.1.0
# six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve==2.3.2.post1
# stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1644872665635/work
# tornado @ file:///C:/ci/tornado_1606942379977/work
# traitlets @ file:///C:/ci/traitlets_1632759765830/work
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
# wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
wincertstore==0.2
